API_PORT=3000
WS_PORT=3001
NODE_ENV=development

DATABASE_URL="postgresql://postgres:your_password@localhost:5432/your_database_name"
REDIS_URL="redis://127.0.0.1:6379"

CLIENT_SECRET="baf0f0e65f1b2688b8d99cb628d21c9a07e8992174fe2f9cfc15cef7f92a6fb9"
AES_ENCRYPTION_KEY="Ch34tH4r4m_S3cr3t_K3y_256B1t_!!!X"
JWT_SECRET="ASD!"

HEARTBEAT_TIMEOUT_SEC=60